* {
    margin: 0 auto;
    padding: 0;
}

.fixed-header nav {
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(8, 8, 8);
    font-family: 'Arial';
    list-style: none;
    position: fixed;
}

.fixed-header nav li {
    float: left;
    width: 110px;
}

.fixed-header nav li a:hover {
    background-color: rgb(209, 34, 34);
}

.fixed-header a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.fixed-header .dropdown-content {
    visibility: hidden;
}

.fixed-header nav li:hover .dropdown-content {
    visibility: visible;
}

.fixed-header .dropdown-content a{
    float: none;
    border-bottom: solid 1px #ccc;
    background-color: rgb(214, 191, 160);
}

.conteudo {
    padding: 7%;
}

.conteudo img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 70%;
}

.conteudo .centralizado {
    display: grid;
    padding-top: 4%;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-gap: 10%;
}

.conteudo .centralizado .secoes {
    border-style: groove;
    padding: 7%;
    border-radius: 20px;
    background-color: #506380;
    color: rgb(255, 255, 255);
}

.conteudo .centralizado .secoes h1 {
    text-align: center;
    padding-bottom: 7px;
}

.conteudo .centralizado .secoes a {
    text-align: center;
}
 
.conteudo .centralizado .secoes a .botao {
    margin-top: 20px;
    padding: 5px;
    border-style: ridge;
    border-color: rgb(150, 150, 219);
    border-radius: 6px;
    width: 80px;
    background-color: rgb(255, 255, 255);
}

.conteudo .centralizado .secoes a .botao:hover {
    background-color: orange;
}

.texto {
    margin-left: 23px;
}

.titulo {
    text-decoration: underline;
    text-decoration-color: orange;
    font-size: 30px;
}

.subtitulo {
    font-size: 23px;
}

#coordenacao {
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

footer {
    position: fixed; 
    bottom: 0px; 
    width: 100%; 
    height: 30px; 
    color: rgb(255, 255, 255);
    background-color:rgb(8, 8, 8);
}

